
/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 1px;
  right: 1px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white!important;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.img-cropped {
  object-fit: cover;
  object-position: center center;
  width: 500px;
  height: 250px;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.embed-submit-field {
  position: relative;
}

.float-left {
  float:left;
  width:310px;
  padding-left:5px;
  padding-right:10px;
}

/* Tabs Card */

.tab-card {
  border:1px solid #eee;
}

.tab-card-header {
  background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
    border-bottom:2px solid #007bff;
    color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
    color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}
.foto-list {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.foto-list img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the foto-list/image */
.foto-list .btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white!important;
}

.foto-list .btn:hover {
  background-color: black;
}